<header class="header__wrapper">
    <div class="container">
        <nav class="navbar_main_wrap">
            <div class="navbar_flex">
                <a href="../index.html" class="brand">
                    <img src="../../assets/img/icons/brand.svg" alt="" />
                    <span>Travel consent letter</span>
                </a>

                <ul class="nav_list_main" id="humbugerMenu">
                    <li class="nav_item">
                        <a href="../index.html" class="nav_link">
                            Home
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="../create-consent-letter.html" class="nav_link">
                            Create consent letter
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="../contact-us.html" class="nav_link">
                            Contact us
                        </a>
                    </li>
                </ul>
            </div>

            <div class="action_wrap">
                <div class="language_dropdown">
                    <button class="lang_btn" id="langToggle">
                        <img src="../../assets/img/icons/country.svg" class="flag" alt="US Flag" />
                        <span id="selectedLang">Canada</span>
                    </button>
                    <ul class="lang_menu" id="langMenu">
                        <li data-code="Canada" data-flag="../../assets/img/icons/flag/america.svg">
                            <img src="../../assets/img/icons/country.svg" class="flag" alt="English" />
                            Canada
                        </li>
                        <li data-code=" 中國人" data-flag="../../assets/img/icons/flag/china.svg">
                            <img src="../../assets/img/icons/flag/china.svg" class="flag" alt="Chinese" />
                            中國人
                        </li>
                        <li data-code="Español" data-flag="../../assets/img/icons/flag/spanish.svg">
                            <img src="../../assets/img/icons/flag/spanish.svg" class="flag" alt="Español" />
                            Español
                        </li>
                        <li data-code="日本語" data-flag="../../assets/img/icons/flag/japan.svg">
                            <img src="../../assets/img/icons/flag/japan.svg" class="flag" alt="Japanese" />
                            日本語
                        </li>
                    </ul>
                </div>

                <button class="humbuger" id="humguberBtn"></button>
            </div>
        </nav>
    </div>

</header>